.map-content {
  overflow-y: hidden;

  @media only screen and (min-width: $medium-screen) {
    @include flex-row;
  }
}

.map-wrap {
  @include flex-column;
  width: 100%;

  @media only screen and (min-width: $medium-screen) {
    width: calc(100% - #{$panel-width});
  }
}

#map {
  height: calc(100vh - #{$top-nav-height});
}

#legend.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255,255,255,0.85);
  margin-right: 1rem;
  margin-bottom: 36px;
  padding: 0.75rem 1rem;
  font-family: 'Lato', Arial, sans-serif;
  overflow: auto;
  border-radius: $border-radius-small;

  &> div {
    padding: 2px 0;
    font-size: $font-size-small;
    color: $dark-gray;
  }

  .legend-key {
    border-radius: 0;
    margin-right: 0.5rem;
  }
}

.legend {

  background-color: rgba(255, 255, 255, 0.8);
  width: calc(100% - 7rem);
  height: 10rem;
  right: 2rem;
  bottom: 5rem;
  z-index: 200;

  &__heading {

  }

  &__title {

  }

  &__unit {

  }

  &__wrap {

  }

  &__column {

  }

  &__item {
    padding-left: 1rem !important;

    &:before {
      content: '';
      position: absolute!important;
      height: 1.25rem;
      width: 1.25rem;
      left: 0;
      right: 0;
    }
  }
}

@media only screen and (max-height: 700px) {
  .map__layers-box {
    height: 55vh;
  }

  .legend {
    height: calc(100vh - #{$top-nav-height} - #{3rem} - 55vh - (2 * #{#{1rem}}) - #{2rem});
  }
}
