{% load static i18n %}

<section class="map-wrap">
  <nav class="top-nav">
    <div class="top-nav__search">
      <label for="searchLocationInput" class="form-label visually-hidden">Search region...</label>
      <input type="search" class="form-control" id="searchLocationInput" placeholder="Search region...">
    </div>
    <div class="top-nav__links">
      <ul>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <section id="map">
  </section>
</section>
