{% load static i18n %}
{% load crispy_forms_tags %}

<section class="panel">
  <section class="panel__content">
    <div class="panel__logos">
      <div class="logo logo--egon">
        <a href="https://egon.de/" target="_blank" rel="noopener noreferrer">
          <img src="../../static/images/logos/eGon_logo_noborder_transbg.svg" alt="eGon logo">
        </a>
      </div>
      <div class="logo logo--bmbf">
        <a href="https://www.bmbf.de/en/index.html" target="_blank" rel="noopener noreferrer">
          <img src="../../static/images/logos/BMBF_gefoerdert_2017_en.jpg" alt="German Federal Ministry of Education and Research logo">
        </a>
      </div>
    </div>
    <div class="panel__tabs">
      <div>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-scenarios" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Scenarios</button>
          <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-results" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Results</button>
        </div>
      </div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-scenarios" role="tabpanel" aria-labelledby="nav-home-tab">Content</div>
        <div class="tab-pane fade" id="nav-results" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
      </div>
    </div>
    {% for category, switches in area_switches.items %}
      <h3 class="layers__subtitle">{{category}}</h3>

      {% for switch in switches %}
        {% crispy switch %}
      {% endfor %}
    {% endfor %}
  </section>
  <footer class="footer">
    <ul>
      <li>
        <a href="#">Contact</a>
      </li>
      <li>
        <a href="#">Imprint</a>
      </li>
      <li>
        <a href="#">Data privacy</a>
      </li>
    </ul>
  </footer>
</section>