{% load static i18n %}

<section class="offcanvas-view offcanvas" tabindex="-1" id="offcanvasAbout" data-bs-backdrop="false"
         aria-labelledby="offcanvasAboutLabel">
  <div class="offcanvas-view__wrap">
    <h2 class="offcanvas-view__title" id="offcanvasDocumentationLabel">About</h2>
    <div class="offcanvas-view__body">

      <h2>eGon - Open and cross-sectoral planning of transmission and distribution grids</h2>

      <p>Driven by the expansion of renewable generation capacity and the progressing electrification of other energy
      sectors, the electrical grid increasingly faces new challenges: fluctuating supply of renewable energy and
      simultaneously a changing demand pattern caused by sector coupling. However, the integration of non-electric
      sectors such as gas, heat and e-mobility enables more flexibility options. This project aims to investigate the
      effects of sector coupling on the electrical grid and the benefits of new flexibility options. Like the previous
        project <a href="https://openegoproject.wordpress.com/">open_eGo</a>, this work will follow the open-source and open-data principles.</p>

      <p>Read more about it on the <a href="https://ego-n.org/">project website</a>.</p>

    </div>
  </div>
</section>
