{% extends "base.html" %}
{% load static i18n compress %}

{% block js_head %}
  {% compress js %}
    <script src="{% static 'js/maplibre-gl.js' %}"></script>
  {% endcompress %}
{% endblock %}

{% block css %}
  {{ block.super }}
  {% compress css %}
    <link href="{% static 'css/maplibre-gl.css' %}" rel='stylesheet'/>
  {% endcompress %}
{% endblock %}

{% block content %}
  <section class="map-content">
    {% include 'canvases/panel.html' %}
    <pre id="info"></pre>
    {% include 'canvases/map.html' %}
  </section>

  {% include 'canvases/popup.html' %}
{% endblock content %}

{% block js_body %}
  {{ block.super }}

  {{ store_cold_init|json_script:"store_cold_init" }}

  {% include 'django_mapengine/map_json.html' %}

  {% compress js %}
    {% include 'django_mapengine/map_js.html' %}
    <script src="{% static 'js/state.js' %}" type="text/javascript"></script>
  {% endcompress %}

{% endblock js_body %}
